.top-ten {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  margin-bottom: 10px;
}

.top-ten-container {
  width: 100%;
  padding-left: 20px;
  margin: 10px 0;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
}

.top-ten-container .top-ten-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.top-ten-container > p{
  color: #B3B3B3;
  font-size: 16px;
  margin-bottom: 20px;
}

.top-ten-container .top-ten-column-title {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.top-ten-container .top-ten-title > span {
  color: #f5c518;
  font-size: 39px;
  font-weight: 1000;
  margin-right: 14px;
  margin-bottom: 23px;
}

.top-ten-container .top-ten-title > h2 {
  color: white;
  font-size: 28px;
  margin-bottom: 16px;
  text-align: center;
}

.top-ten-container .top-ten-column-title > h4 {
  padding: 20px;
  color: white;
  font-size: 14px;
  margin-bottom: 16px;
  border-bottom: 3px solid #5799ef;
  text-align: center;
}

.top-ten-container .top-ten-column-title > h5 {
  color: white;
  font-size: 14px;
  margin-bottom: 16px;
  text-align: center;
}

.top-ten-container > h3 {
  color: #f5c518;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 16px;
}

.top-ten-container .swiper-slide {
  position: relative;
}

.top-ten-container .swiper-slide img {
  width: 22vw;
  border-top-right-radius: 8px;
}

.top-ten-container .swiper-slide > svg {
  position: absolute;
  top: 5px;
  left: 5px;
}

.top-ten-container .swiper-slide .card-info {
  width: 22vw;
  background-color: #1a1a1a;
  padding: 10px;
  color: whitesmoke;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.top-ten-container .swiper-slide .card-info .star-part {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.top-ten-container .swiper-slide .card-info .star-part > button {
  background-color: #1a1a1a;
  border-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.top-ten-container .swiper-slide .card-info .movie-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
}

.top-ten-container .swiper-slide .card-info .movie-info h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 39px;
  text-align: start;
  font-size: 16px;
  font-weight: 200;
}

.top-ten-container .swiper-slide .card-info .whatchlist {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.top-ten-container .swiper-slide .card-info .whatchlist button {
  width: 100%;
  padding: 5px 10px;
  background-color: #2c2c2c;
  color: #3d65e7;
  border-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  gap: 5px;
}

.top-ten-container .swiper-slide .card-info .trailer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-style: none;
  gap: 10px;
}
