.what-to-watch {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.what-to-watch-II {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  margin-bottom: 10px;
}

.what-to-watch-container {
  padding: 0 20px;
  margin: 20px 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
}

.what-to-watch-container .what-to-watch-title {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.what-to-watch-title > h2 {
  color: #f5c518;
  font-size: 32px;
  font-weight: 500;
}

.what-to-watch-title > h3 {
  width: 210px;
  color: #0e5ae0;
  font-size: 14px;
}

.what-to-watch-container .what-to-watch-list {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.what-to-watch-container .what-to-watch-list span {
  color: #f5c518;
  font-size: 39px;
  font-weight: 1000;
  margin-right: 14px;
  margin-bottom: 23px;
}

.what-to-watch-container .what-to-watch-list h2 {
  color: white;
  font-size: 28px;
  margin-bottom: 16px;
}

.what-to-watch-signin {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.what-to-watch-container .what-to-watch-signin h3 {
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.what-to-watch-container .what-to-watch-signin h4 {
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.what-to-watch-container .what-to-watch-signin button {
  margin-top: 40px;
  color: #0e5ae0;
  font-size: 14px;
  font-weight: 200;
  padding: 8px 20px;
  background-color: #2e2e2e;
  border-style: none;
  border-radius: 100px;
}
