.born-today {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  margin-bottom: 30px;
}

.born-today-container {
  width: 100%;
  padding-left: 10px;
  margin: 20px 0;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
}

.born-today-container .born-today-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.born-today-container .born-today-title > span {
  color: #f5c518;
  font-size: 22px;
  font-weight: 1000;
  margin-right: 5px;
  margin-bottom: 23px;
}

.born-today-container .born-today-title > h2 {
  color: white;
  font-size: 18px;
  margin-bottom: 16px;
}

.born-today-container > p {
  color: #B3B3B3;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.born-today-container .swiper-slide img {
  width: 39vw;
  border-radius: 1000px;
  transition: 200ms;
}

.born-today-container .swiper-slide img:hover {
  opacity: 0.7;
}

.born-today-container .swiper-slide h4 {
  margin-top: 5px;
  text-align: center;
  color: rgba(255, 255, 255, 0.465);
  font-size: 14px;
  font-weight: 400;
  transition: 200ms;
}

.born-today-container .swiper-slide h3 {
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 200;
  transition: 200ms;
}

.born-today-container .swiper-slide h4:hover {
  opacity: 0.7;
}

.born-today-container .swiper-slide h3:hover {
  opacity: 0.7;
}
