.banner {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 31px;
  margin-bottom: 70px;
}

.banner-container {
  width: 80vw;
  min-width: 999px;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: start;
}

.banner-container .swiper-slide {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.banner-container .banner-rt {
  width: 37.3vw;
  min-width: 325px;
  padding: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}

.banner-container .banner-rt .banner-side-content {
  padding: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  gap: 5px;
  background: linear-gradient(to bottom, #111111 30%, #000000d8 60%);
}

.banner-container .banner-rt > h3 {
  cursor: pointer;
  font-size: 20px;
  color: white;
  font-weight: 700;
  transition: 300ms;
}

.banner-container .banner-rt > h3:hover {
  color: rgb(245, 197, 24);
}

.banner-container .swiper-slide .banner-img img {
  width: 53.44vw;
  min-width: 660px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.banner-container .swiper-slide .banner-img {
  position: relative;
}

.banner-container .swiper-slide .banner-img::after {
  content: "";
  width: 53.44vw;
  cursor: pointer;
  min-width: 660px;
  height: 30vw;
  min-height: 372px;
  background: linear-gradient(to bottom, #11111100 0%, #00000017 20%, #0000004c 40%, #0000008f 60%, #000000ce 80%);
  position: absolute;
  bottom: 0;
  left: 0;
}

.banner-container .swiper-slide .banner-info {
  padding: 22px;
  height: 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: end;
  gap: 10px;
  position: relative;
  bottom: 150px;
}

.banner-container .swiper-slide .banner-info .banner-thumbnail img {
  width: 131px;
  border-radius: 18px;
}

.banner-container .swiper-slide .banner-info .banner-bottom-info {
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.banner-container
  .swiper-slide
  .banner-info
  .banner-bottom-info
  .banner-play-svg {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.banner-container .swiper-slide .banner-info .banner-bottom-info h5 {
  font-size: 20px;
  color: #afafaf;
  font-weight: 500;
  margin-top: 5px;
}

.banner-container
  .swiper-slide
  .banner-info
  .banner-bottom-info
  .banner-text-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  gap: 5px;
}

.banner-container
  .swiper-slide
  .banner-info
  .banner-bottom-info
  .banner-text-info
  h2 {
  max-width: 26vw;
  font-size: clamp(24px, 2.3vw, 32px);
  color: white;
  font-weight: 500;
}

.banner-container
  .swiper-slide
  .banner-info
  .banner-bottom-info
  .banner-text-info
  h3 {
  font-size: 20px;
  color: #afafaf;
  font-weight: 500;
}

.banner-container .swiper-slide .banner-info .banner-bottom-info .banner-likes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #afafaf;
}

.banner-container
  .swiper-slide
  .banner-info
  .banner-bottom-info
  .banner-likes
  span {
  font-size: 12px;
}

.banner-container .banner-rt > h2 {
  color: rgb(245, 197, 24);
  font-size: 20px;
}

.banner-container
  .banner-rt
  .banner-side-content
  .banner-side-info
  .banner-info {
  display: flex;
  flex-flow: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.banner-container
  .banner-rt
  .banner-side-content
  .banner-side-info
  .banner-info
  .banner-thumbnail
  img {
  width: 88px;
  border-radius: 18px;
}

.banner-container
  .banner-rt
  .banner-side-content
  .banner-side-info
  .banner-info
  .banner-bottom-info {
  cursor: pointer;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.banner-container
  .banner-rt
  .banner-side-content
  .banner-side-info
  .banner-info
  .banner-bottom-info
  .banner-play-svg {
    width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.banner-container
  .banner-rt
  .banner-side-content
  .banner-side-info
  .banner-info
  .banner-bottom-info
  .banner-play-svg
  h5 {
  font-size: 14px;
  color: white;
  font-weight: 200;
}

.banner-container
  .banner-rt
  .banner-side-content
  .banner-side-info
  .banner-info
  .banner-bottom-info
  .banner-text-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  gap: 5px;
}

.banner-container
  .banner-rt
  .banner-side-content
  .banner-side-info
  .banner-info
  .banner-bottom-info
  .banner-text-info
  h2 {
  max-width: 20vw;
  font-size: 16px;
  color: white;
  font-weight: 700;
}

.banner-container
  .banner-rt
  .banner-side-content
  .banner-side-info
  .banner-info
  .banner-bottom-info
  .banner-text-info
  h3 {
  font-size: 14px;
  color: #afafaf;
  font-weight: 700;
}

.banner-container
  .banner-rt
  .banner-side-content
  .banner-side-info
  .banner-info
  .banner-bottom-info
  .banner-likes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: rgba(255, 255, 255, 0.523);
}

.banner-container
  .banner-rt
  .banner-side-content
  .banner-side-info
  .banner-info
  .banner-bottom-info
  .banner-likes
  span {
  font-size: 12px;
}

.banner-play-svg {
  width: 50px;
  height: 50px;
}
