.box-office{
    margin-top: 26px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .box-office-container{
    width: 74vw;
    min-width: 999px;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
  }

  .box-office-container .box-office-title{
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .box-office-container > p{
    color: #B3B3B3;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .box-office-container .box-office-title > span{
    color: #F5C518;
    font-size: 32px;
    font-weight: 1000;
    margin-right: 14px;
    margin-bottom: 16px;
  }

  .box-office-container .box-office-title > h2{
    color: white;
    font-size: 24px;
  }

  .box-office-container .box-office-content{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .box-office-container .box-office-content .box-office-content-left{
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
  }

  .box-office-container .box-office-content .box-office-content-right{
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
  }

  .box-office-container .box-office-content .box-office-options{
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .box-office-container .box-office-content .box-office-options h3{
    font-size: 16px;
    color: white;
  }

  .box-office-container .box-office-content .box-office-options span{
    font-size: 16px;
    color: #f5c518;
  }

  .box-office-container .box-office-content .box-office-options .box-office-det{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
    gap: 3px;
  }

  .box-office-container .box-office-content .box-office-options .box-office-det h2{
    font-size: 16px;
    color: white;
  }

  .box-office-container .box-office-content .box-office-options .box-office-det h3{
    font-size: 12px;
    color: #ADB0B3;
  }