body{
    background-color: #000000;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.header-container{
    width: 75%;
    min-width: 1024px;
    height: 56px;
    background-color: #121212;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.header-container .logo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.header-container .logo img{
    width: 64px;
    cursor: pointer;
}

.header-container .menu{
    padding: 3px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 200ms;
}

.header-container .menu:hover{
border-radius: 18px;
background-color: #48484860;
}


.header-container .menu h4{
    color: #ffffff;
}

.search-container {
    position: relative;
    width: 53%;
    height: 32px;
}

.search-wrapper {
    height: 99%;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    
}

.category-select {
    width: 58px;
    border: none;
    outline: none;
    background: #f8f8f8;
    padding: 0px 9px;
    font-size: 14px;
    font-weight: 800;
    color: #333;
    border-right: 2px solid #4b4b4b2b;
    cursor: pointer;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}

.search-input {
    width: 88%;
    border: none;
    outline: none;
    padding: 12px 16px;
    font-size: 16px;
    color: #333;
}

.search-button {
    background: white;
    border: none;
    padding: 0 5px;
    cursor: pointer;
}

.imdb-pro{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 3px 10px;
    transition: 200ms;
}

.imdb-pro:hover{
    border-radius: 18px;
    background-color: #48484860;
}

.imdb-pro h5:nth-of-type(1){
    color: white;
    font-size: 14px;
    font-weight: 900;
}

.imdb-pro h5:nth-of-type(2){
    color: #00ABD2;
    font-size: 14px;
    font-weight: 900;

}

.line-for-head h2{
    color: #38383877;
    font-size: 39px;
    font-weight: 10;
    cursor: default;
}

.watchlist{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    padding: 3px 10px;
    transition: 200ms;
}

.watchlist:hover{
    border-radius: 18px;
    background-color: #48484860;
}

.watchlist h5{
    color: white;
    font-size: 14px;
}

.signin{
    position: relative;
    z-index: 0;
}

.signin button{
    color: white;
    background-color: #121212;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    padding: 3px 10px;
    transition: 200ms;
}

.signin button:hover{
    border-radius: 18px;
    background-color: #48484860;
}

.lan .lan-select{
    color: white;
    background-color: #121212;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    padding: 3px 10px;
    transition: 200ms;
}

.lan .lan-select:hover{
    border-radius: 18px;
    background-color: #48484860;
}

.lan .lan-select{
    color: white;
    background-color: #121212;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    padding: 3px 10px;
}

.signin .sign-in-notif{
    border: 2px solid #FCBE07;
    border-radius: 6px;
    background-color: white;
    position: absolute;
    left: -160px;
    top: 50px;
    width: 250px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
    gap: 6px;
    padding: 5px;
    z-index: 4;
    transition: 
    top 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.3s ease-out,
    transform 0.4s ease;
    opacity: 0;
    transform: translateY(-20px);
}

.notif{
    top: 50px !important; /* موقعیت نهایی در صفحه */
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.signin .sign-in-notif .sign-in-notif-top{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.signin .sign-in-notif .sign-in-notif-top button{
    background-color: #FCBE07;
    color: black;
    font-size: 16px;
    border-radius: 18px;
    padding: 10px 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
    gap: 6px;
}

.signin .sign-in-notif .sign-in-notif-bottom{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.signin .sign-in-notif .sign-in-notif-bottom h2{
    font-size: 16px;
    font-weight: 400;
}

.signin .sign-in-notif .sign-in-notif-bottom h3{
    font-size: 16px;
    color: #335DE7;
    font-weight: 400;
}

.signin .sign-in-notif .notif-arrow{
    position: absolute;
    top: -21px;
    left: 160px;
    z-index: 1;
}