.more-explore {
  margin-top: 26px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.more-explore-container {
  width: 75vw;
  min-width: 999px;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
}

.more-explore-container .more-explore-title {
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.more-explore-container .more-explore-title > span {
  color: #f5c518;
  font-size: 32px;
  font-weight: 1000;
  margin-right: 14px;
  margin-bottom: 16px;
}

.more-explore-container .more-explore-title > h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 16px;
}

.more-explore-container > h3 {
    color: #f5c518;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}

.more-explore-container .swiper-slide img {
  cursor: pointer;
  width: 23vw;
  min-width: 316px;
  position: relative;
  border-radius: 10px;
}

.more-explore-container .swiper-slide::after {
  content: "";
  position: absolute;
  bottom: 53px;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  pointer-events: none;
}

.more-explore-container .swiper-slide .picture-me {
  position: relative;
}

.more-explore-container .swiper-slide .picture-me svg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 45;
}

.more-explore-container .swiper-slide h2 {
  cursor: pointer;
  margin-top: 10px;
  text-align: start;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.more-explore-container .swiper-slide h3 {
  cursor: pointer;
  margin-top: 10px;
  text-align: start;
  color: #0e5ae0;
  font-size: 16px;
  font-weight: 200;
}
