.popular-actors{
    margin-top: 26px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  
  .pa-container{
    width: 74vw;
    min-width: 999px;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
  }
  
  .pa-container .pa-title{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .pa-container .pa-title > span{
    color: #F5C518;
    font-size: 30px;
    font-weight: 1000;
    margin-right: 14px;
    margin-bottom: 16px;
  }

  .pa-container .pa-title > h2{
    color: white;
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .pa-container .swiper-slide img{
    width: 11vw;
    min-width: 152px;
    border-radius: 1000px;
    cursor: pointer;
  }

  .pa-container .swiper-slide{
    transition: 200ms;
  }

  .pa-container .swiper-slide:hover{
    opacity: 0.7;
  }
  
  .pa-container .swiper-slide h4{
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }
  
  .pa-container .swiper-slide h3{
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 200;
    cursor: pointer;
  }