.recent{
    margin-top: 26px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
.recent-container{
    width: 74vw;
    min-width: 999px;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
    gap: 20px;
  }

.recent-container .recent-title{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

.recent-container .recent-title > h4{
    color: #5799EF;
    font-size: 14px;
    font-weight: 600;
    margin-right: 14px;
    margin-bottom: 16px;
  }

  .recent-container .recent-title > h2{
    color: white;
    font-size: 24px;
    margin-bottom: 16px;
  }

  .recent-container .swiper-slide{
    cursor: pointer;
    margin: 0 5px;
  }

  .recent-container .swiper-slide img{
    width: 12vw;
    min-width: 152px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .recent-container .swiper-slide h3{
    width: 12vw;
    min-width: 152px;
    background-color: #1A1A1A;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }